h2, p {
    margin: 0;
}

.mainSuppInfo {
    color: rgb(39, 41, 39);
    font-weight: bold;
    width: 200px;
    margin: 30px 0 30px 40px;
}

.mainSuppInfo p {
    margin-top: 10px;
    font-size: 16px;
}