.popupBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0008;
    display: none;
    justify-content: center;
    align-items: center;
    }

.popupBox.active {
    display: flex; 
    }
    
.popup {
    width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    /* font-size: 20px; */
    }

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    }

.commentBtns {
    padding-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.labelInfo {
    font-weight: 800;
}

.productPicture {
    max-height: 200px;
    width: 100px;
}

.cansel {
    background-color: rgb(182, 179, 179);
}

.formRange {
    height: 1px;
    padding: 2px;
    color: black;
    background-color: rgb(209, 209, 218);
}

.ratingNumber {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 50%;
    border-color: var(--main-color);
    
}

.range {
    width: 100%;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}